@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

*
{
    font-family: 'Oswald', sans-serif;
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}

:root{
    --main-color:#008FFF;
    --sub-color:#bbe1ff;
    --bg-white:#deebf1;
}

.progress-container {
    width: 100%;
    background-color: #f1f1f1;
    position: fixed; /* Change this line from "position: relative" */
    top: 0; /* Add this line */
    left: 0; /* Add this line */
    z-index: 1;
   
  }
  
  .progress_bar {
    height: 5px;
    width: 0px;
    background-color: var(--main-color);
 
  }

.navbar img{
    height:100px;
    width:100px;
}
.btn{
    border:1px solid var(--main-color)
}

.item-container{
    display:flex;
}
.nav-item a{
    font-size:24px;

}
.nav-item .active
{
    color:#008FFF !important;
}
.nav-item:hover
{
    color:#a9daff !important;
}
/* Products Section */
.products_section{
    padding-left:50px;
    padding-right:50px;
    text-align:center;

}

.products{
    height:250px;
    margin:2.5em;
    width:250px;
   justify-content: center;
    text-align:center;
    padding:0 auto;
    border-radius: 16px;
    box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    justify-content: space-between;
    transition: all .2s ease-in-out;
}
.products:hover{
    transform: scale(1.04); 

}
#products
{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-between;
    
}
.products_section h2{
    padding-top: 1em;

}
.products h5{
    text-align:center;
    margin-top:100px;
    padding:0.5em;
    color:#FFF;
background: rgba(0, 0, 0, 0.54);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.8px);
-webkit-backdrop-filter: blur(7.8px);
border: 1px solid rgba(0, 0, 0, 0.53);
}
.rackets{
    background-image:url("/img/tdslyl0pptzs6vst4uq5.webp") ;
    background-position: center;
    background-size: cover;
    text-align:center
}
.products img{
    height:200px;
    width:250px
}

.shoes{
    background-image:url("/img/as-ka-captionphoto-launch-21b.jpg.webp") ;
    background-position: center;
    background-size: cover;
    text-align:center

}
.bags{
    background-image:url("/img/Badminton-Bag-Backpack-Men-and-Women-Professional-Large-Capacity-Badminton-Racket-Bag.jpg") ;
    background-position: center;
    background-size: cover;
    text-align:center

}
.strings{
    background-image:url("/img/download.jpeg") ;
    background-position: center;
    background-size: cover;
    text-align:center
    
}
.grips
{
    background-image:url("/img/download (1).jpeg") ;
    background-position: center;
    background-size: cover;
    text-align:center
}

.shuttles
{
    background-image:url("/img/wallpaperflare.com_wallpaper.jpg") ;
    background-position: center;
    background-size: cover;
    text-align:center
}

/* services-section */
.services
{
    background-color: var(--bg-white);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:1em 50px;
}

.img_container
{
    min-width:400px;
    margin-left:50px;
    margin-top:20px;
    
}
.services img
{
    width:100%;
        
}
.service-container
{
    display:flex;
    justify-content: space-between;
    width:60%;
    flex-wrap:wrap;
    margin-top:150px;
}
.service{
    height:200px;
    width:200px;
    text-align:center;
    justify-items: center;
    border:1px solid var(--main-color);
    background-color: var(--sub-color);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.service:hover{
    transform: scale(1.04); 
}

.service h5{
    font-weight: 800;
    margin-top:0.5em;
}


/* brands section */

.brands
{
    display: flex;
    flex-wrap: wrap;
    margin:50px 25px ;
    justify-content: space-evenly;
}

.brands img
{
    max-height:150px;
    margin-left:1rem;
    margin-top:2rem;
}

#babolat{
    height: 500px;
}

/* brands section*/
.hot-items-section
{
    background-color: var(--bg-white);
    padding:0 50px;
}



.swiper {
    width: 100%;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF;
    margin:50px 0;
    transition: all .2s ease-in-out;
    overflow: auto;
  }
  .swiper-slide:hover{
    transform: scale(1.04); 
}

  .swiper-slide img {
    text-align: center;
    max-height: 400px;
    width:100%;
  }
 
  /* footer */
  footer {
    margin: 4rem;
    text-align: center;
  }

/* Products page */
.filteration-container{
    margin-left:50px;
}
.drop_btn {
    padding: 12px;
    background-color: var(--bg-white);
    font-size: 16px;
    border: 1px solid var(--main-color);
    border-radius:12px;

    cursor: pointer;
  }
  
  .drop_btn:hover, .drop_btn:focus {
    background-color: var(--main-color);
  }
  
  .drop_down {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop_down a:hover {background-color: #ddd;}
  
  .show {display: block;}

  
.products_container{
    display:flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin:30px 50px;
}

.card {
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:2rem;
    margin-left:4rem;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  
  .card::after {
    content: "Badminton Online";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }
  /*
  .card .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
        
  }
  */
  .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .card .contentBox h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card .contentBox .price {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: var(--main-color);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }
  
  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }
  
  .mouse {
    height: 300px;
    width: auto;
  }
  
  .next_pages
  {
    float:right;
  }
  .paginations
  {
    text-decoration: none;
    color:#191919;
  }

  .nextPage{
   
    float: right;
    margin-right:50px

  }
  .prevPage{
    margin-left:50px;
  }
