*
{
    font-family: 'Oswald', sans-serif;
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}

:root{
    --main-color:#008FFF;
    --sub-color:#bbe1ff;
    --bg-white:#deebf1;
}

.progress-container {
    width: 100%;
    background-color: #f1f1f1;
    position: fixed; /* Change this line from "position: relative" */
    top: 0; /* Add this line */
    left: 0; /* Add this line */
    z-index: 1;
   
  }
  
  .progress_bar {
    height: 5px;
    width: 0px;
    background-color: var(--main-color);
 
  }

.navbar img{
    height:100px;
    width:100px;
}
.btn{
    border:1px solid var(--main-color)
}

.item-container{
    display:flex;
}
.nav-item a{
    font-size:24px;

}
.nav-item .active
{
    color:#008FFF !important;
}
.nav-item:hover
{
    color:#a9daff !important;
}
/* Products Section */
.products_section{
    padding-left:50px;
    padding-right:50px;
    text-align:center;

}

.products{
    height:250px;
    margin:2.5em;
    width:250px;
   justify-content: center;
    text-align:center;
    padding:0 auto;
    border-radius: 16px;
    box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 41px -10px rgba(0,0,0,0.75);
    justify-content: space-between;
    transition: all .2s ease-in-out;
}
.products:hover{
    transform: scale(1.04); 

}
#products
{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-between;
    
}
.products_section h2{
    padding-top: 1em;

}
.products h5{
    text-align:center;
    margin-top:100px;
    padding:0.5em;
    color:#FFF;
background: rgba(0, 0, 0, 0.54);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.8px);
-webkit-backdrop-filter: blur(7.8px);
border: 1px solid rgba(0, 0, 0, 0.53);
}
.rackets{
    background-image:url("/img/tdslyl0pptzs6vst4uq5.webp") ;
    background-position: center;
    background-size: cover;
    text-align:center
}
.products img{
    height:200px;
    width:250px
}

.shoes{
    background-image:url("/img/as-ka-captionphoto-launch-21b.jpg.webp") ;
    background-position: center;
    background-size: cover;
    text-align:center

}
.bags{
    background-image:url("/img/Badminton-Bag-Backpack-Men-and-Women-Professional-Large-Capacity-Badminton-Racket-Bag.jpg") ;
    background-position: center;
    background-size: cover;
    text-align:center

}
.strings{
    background-image:url("/img/download.jpeg") ;
    background-position: center;
    background-size: cover;
    text-align:center
    
}
.grips
{
    background-image:url("/img/download (1).jpeg") ;
    background-position: center;
    background-size: cover;
    text-align:center
}

.shuttles
{
    background-image:url("/img/wallpaperflare.com_wallpaper.jpg") ;
    background-position: center;
    background-size: cover;
    text-align:center
}

/* services-section */
.services
{
    background-color: var(--bg-white);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:1em 50px;
}

.img_container
{
    min-width:400px;
    margin-left:50px;
    margin-top:20px;
    
}
.services img
{
    width:100%;
        
}
.service-container
{
    display:flex;
    justify-content: space-between;
    width:60%;
    flex-wrap:wrap;
    margin-top:150px;
}
.service{
    height:200px;
    width:200px;
    text-align:center;
    justify-items: center;
    border:1px solid var(--main-color);
    background-color: var(--sub-color);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
}

.service:hover{
    transform: scale(1.04); 
}

.service h5{
    font-weight: 800;
    margin-top:0.5em;
}


/* brands section */

.brands
{
    display: flex;
    flex-wrap: wrap;
    margin:50px 25px ;
    justify-content: space-evenly;
}

.brands img
{
    max-height:150px;
    margin-left:1rem;
    margin-top:2rem;
}

#babolat{
    height: 500px;
}

